@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    
    font-family: 'Roboto', sans-serif;

    position: absolute;
    z-index: -99999;

    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4.8rem;
}

p {
    font-size: 1.8rem;
    line-height: 3rem;

    margin-top: 1.6rem;
}